.container {
  width: 1170px;
  margin: auto;
}

@media (max-width: 1200px) {
  .bloks {
    max-width: 960px;
  }
}

@media (max-width: 960px) {
  .bloks {
    max-width: 768px;
  }
}

@media (max-width: 768px) {
  .bloks {
    max-width: 540px;
  }
}

.button_block-logo {
  border-radius: 10px;
  background-color: #ffd200;
  border: none;
  padding: 18px 30px;
  font-family: sans-serif;
}

.bloks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar {
  padding: 8px 0px;
  width: 100%;
}

.block-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: right;
  font-family: sans-serif;
}

.button_block-logo {
  margin-left: 30px;
}

.phone {
  color: #333333;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  margin-top: 10px;
  font-family: sans-serif;
}

.hero {
  padding: 50px 0;
  background-color: #f5f5f5;
}

.hero-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero-text {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  padding-right: 140px;
}

.hero-text__title {
  font-size: 41px;
  ont-weight: 800;
  line-height: 55px;
  margin-bottom: 40px;
}

.hero-text__subtitle {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 70px;
  display: inline-block;
}

.hero-list {
  margin: 0;
  padding: 0;
}

.hero-list__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 25px;
}

.hero-list__image {
  border: 2px solid #ffd200;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  min-width: 40px;
  min-height: 40px;
  margin-right: 30px;
}

.hero-list-text {
  max-width: 300px;
}

@media (max-width: 1200px) {
  .hero {
    max-width: 100%;
  }
  .hero-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .hero-list {
    margin-bottom: 44px;
  }
  .hero-text {
    padding-right: 10px;
  }
}

@media (max-width: 768px) {
  .hero-text__title {
    font-size: 24px;
    line-height: 1.4;
    margin-bottom: 15px;
  }
  .hero-text__subtitle {
    font-size: 16px;
    margin-bottom: 28px;
  }
  .hero-list__items {
    margin-bottom: 20px;
  }
  .hero-list__text {
    font-size: 12px;
  }
  .hero-list__image {
    margin-right: 15px;
  }
}
/*# sourceMappingURL=style.css.map */